/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 nov. 2019, 07:26:13
    Author     : tvosgiens
*/

img{
	max-width: 100%;
	max-height:100%;
}

.pos{
	margin-top: 50px;
}